body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Sora', sans-serif;
  font-style: italic;
}

.contact-body{
  background: linear-gradient(#D5A839, #9198e5);
}

#aktiv {
  font-weight: bolder;
}

/* style for the header*/

header {
  height: 160px;
}

.logo-header {
  height: 120px;
}

.logo-container{
 position: relative;
 right: 50px;
}

.kol-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #F2F0EB;
}

.kol-head_content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 19px;
  box-sizing: border-box;
}

.p-header{
  font-size: 15px;
  width: 100px;
  font-weight: normal;
  position: relative;
  right: 25px;
}

nav {
   display: none;
  flex-direction: column;
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  padding: 32px;
  background: #F2F0EB;
  box-sizing: border-box;
}
  
.nav-link {
  padding: 16px 0;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-weight: lighter;
}

.nav-link:hover {
  color: #996100;
}

.widt-for-hamburger{
  width: 100px;
}

.label-for-hamburger {
  width: 5em;
  height: 0.5em;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 10px;
}

.label-for-hamburger::before{
  content: "";
  width: 5em;
  height: 0.5em;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: -250%;
}

.label-for-hamburger::after{
  content: "";
  width: 5em;
  height: 0.5em;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -250%;
}

#hamburger:checked ~ .label-for-hamburger::before {
  background-color: rgb(0, 0, 0);
  transform: rotateZ(45deg);
  left: 25%; 
  transform-origin: left top;
  height: 0.2em;
  width: 4em;
  font-size: 10px;
}

#hamburger:checked ~ .label-for-hamburger {
  background-color: #f2f0eb00;
  font-size: 10px;
}

#hamburger:checked ~ .label-for-hamburger::after {
   background-color: rgb(0, 0, 0);
  transform: rotateZ(-45deg);
   left: 25%; 
  bottom: -13px;
  transform-origin: left bottom;
  height: 0.2em;
  width: 4em;
  font-size: 10px;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: flex;
}

/* main font-Syle for the h1, h2, h3 and links cta-buttons*/

.about-h1 {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

.arrange-h1 {
  flex: 0 0 100%;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  text-transform:uppercase;
}

.visith1 {
  font-size: 29px;
  text-align: center;
  font-weight: lighter;
}

.about-h2 {
  font-size: 25px;
  font-weight: lighter;
}

.about-h3 {
  font-size: 20px;
  font-weight: lighter;
}

.about-p {
  font-size: 16px;
}

.about-p-science {
  font-size: 16px;
   text-align: center;
}
  
.reservation-h2, .book-h2 {
  font-size: 20px;
  font-weight: lighter;
}

.reservation-h3 {
  font-size: 18px;
  font-weight: lighter;
}

.reservation-h4 {
  font-size: 16px;
  font-weight: lighter;
}

.opening-info {
  display: inline-block;
  font-weight: lighter;
  font-size: 15px;
}

.reservation-telf {
  text-decoration: underline;
}

.input-button{
  padding: 15px 64px;
  border-radius: 30px;
  border: none;
  background-color:#D5A839;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.input-button:hover {
  background-color: #997929;
}

.visith3 {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

.time-openhour{
  margin-top: -10px;
  font-size: 16px;
  padding-left: 28px;
}

.time-openhour2, .tour-info {
  margin-top: -2px;
  font-size: 16px;
}

.visit-p-loction {
  text-align: center;
   margin-top: -20px;
   padding-bottom: 20px;
  font-weight: lighter;
}

.guided-h2, .arrange-h3{
  text-align: center;
  font-size: 29px;
  font-weight: lighter;
}

.guided-p, .guided-p2 {
  padding: 5px;
  text-align: center;
  text-indent: 10px;
  line-height: 1.8;
  font-weight: lighter;
  font-size: 16px;
}

.guided-h4 {
  display: none;
  font-size: 25px;
}

.contact-h4{
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
 }

.contact-p {
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;
  font-size: 16px;
}

.contact-link{
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  text-transform:capitalize;
  border: thin solid #FFBB00;
  padding: 0.2em;
}

.contact-link:hover, .subz-button:hover, .social-links a:hover {
  background-color: #BE8D10;
}

.footer-links:hover, .sciencelink:hover  {
  text-decoration: underline;
 }

.sciencelink{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 29px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
  font-weight: lighter;
}

/* main images for all section*/

.about-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 55%;
}

.sciene-image-singel {
  display: none;
}

.about-img-conttainer {
  height: 200px;
  margin-top: -30px;
  padding-bottom: 10px;
  border-bottom: solid #FFBB00;
}

.images-kol{
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 20px;
}

.sicence-img{
  max-width: 100%;
  height: 210px;
  border-radius: 40px;
  padding-top: 20px;
}

.sicence-img2{
  width: 200px;
  max-width: 100%;
  height: 220px;
  border-radius: 40px;
  padding-top: 10px;
}

.guidemap-img{
    height: 350px;
    width: 100%;
    text-align: center;
    margin-top: -30px;
    margin-bottom: -60px;
  }

.arrange-img, .arrange-img2 {
  width: 100%;
  height: 250px;
  margin-top: 29px;
}

/* main sections, contanier and form for all section*/

.science-container {
  background-color: #F2F0EB;
  margin: 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.contact-form{
  padding: 20px;
}

.arrang-input input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.label-name {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.name{
  width: 100%;
  margin-top: 0;
}

.arrang-input{
  float: left;
  width: 80%;
  margin-top: 6px;
}

.form-arrang:after {
  content: "";
  display: table;
  clear: both;
}

#meeting-time{
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-us-container {
  padding: 1rem;
}

.arrange-reservation, .button-sumit {
  text-align: center;
}

section{
  margin-bottom: 50px;
 }

.visit-kol{
  padding-top: 10px;
}

.guidedinfo {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px 0;
}

.visit-container {
  background-color: #F2F0EB;
  margin: 5px 5px 5px;
  margin-top: -10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.guided-container {
  margin: 5px 5px 5px;
  background-color: #F2F0EB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.arrange-container{
  margin: 5px 5px 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.arrange-card {
  width: 375px;
  height: 483px;
  text-align: center;
  background-color: #F2F0EB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* style for the footer*/

footer {
  background-color:#ADAAA5;
  padding: 10px 13px 20px;
}

.footerh2 {
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight:lighter
}

.footerh3 {
  font-size: 17px;
  color: #000000;
  text-align: center;
  font-weight: lighter;
}

.subz-field {
  width: 75%;;
  height: 25px;
  border: none;
  outline: solid 1px rgb(255, 255, 255);
  background: transparent;
  color: rgb(0, 0, 0);
}

.subz-button{
  width: 80px;
  height: 27px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  outline: solid 1px rgb(255, 255, 255);
}

.subscribe {
 display: flex;
  margin: 0 0 1rem 0.1rem;
}
 
.social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px 10px 10px 20px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: solid 1px white;
  color: #ffffff;
}

.social-links {
  margin-bottom: 30px;
  text-align: center;
}

.fa-ticket-alt, .fa-location-arrow, .fa-clock  {
  color: #FFBB00;
}

.h1-info1, .h1-info2{
  font-size: 19px;
  color: #000000;
  font-weight: 400;
  margin-bottom: -2px;
 }

.p-info2, .p-info1{
  color: #000000;
  font-size: 16px;
}

.p-info3 {
  padding-left: 19px;
  font-size: 16px;
}

.hours-info {
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
  height: 35px;
}

.footer-container, .footer-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo-footer {
  height: 100px;
}

.footer-links{
  text-decoration: none;
  color: #000000;
  font-weight:normal
}

.footer-links1, .footer-links2 {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-top: 20px;
  height: 200px;
}

.footer-links{
  font-size: 20px
  }

.link-logo {
  padding-top: 18%;
}

.copiright-footer {
  text-decoration: none;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  top: 70px;
}

.border-bottom{
  border-bottom: solid 1px rgb(255, 255, 255);
  margin: 10px 10px 20px;
}

.border-bottom2{
  border-bottom: solid 1px rgb(0, 0, 0);
  margin: 10px 10px 20px;
}


@media screen and (min-width: 1024px) {

 /* media queries for the footer*/
 .kol-head {
   position: static;
 }

  .p-header{
    font-size: 25px;
    width: unset;
    position: relative;
    left: 25px;
  }

  .logo-container{
    margin-left: 250px;
  }
  
  .label-for-hamburger {
   display: none;
  }

  nav {
    display: initial;
    position: static;
    width: unset;
    height: unset;
    padding: unset;
    background: transparent;
    padding-left: 30px;
  }

  .nav-link {
    border-bottom: none;
    margin-left: 40px;
    position: relative;
    right: 20px;
    font-weight: lighter;
    font-size: 18px;
  }

  /* media queries for the main*/

  .arrange-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .visit-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 30px;
    margin: 5px 145px 5px;
  }

  .visit-kol{
    position: relative;
    right: 20px;
  }

  .visith1 {
    font-size: 45px;
    margin-top: 50px;
  }

  .arrange-h1 {
    font-size: 40px;
  }

  .visit-p-loction, .tour-info {
    margin-top: unset;
    padding-bottom: unset;
    font-size: 18px;
    font-weight: lighter;
  }

  .time-openhour, .time-openhour2 {
    font-size: 18px;
    font-weight: lighter;
  }

  .guided-h2 {
    text-align: left;
    margin-left: 150px;
    position: relative;
    top: 135px;
    font-size: 40px;
    font-weight: lighter;
  }

  .guided-h4 {
    text-align: left;
    margin-left: 150px;
    position: relative;
    top: 250px;
    display: unset;
    font-weight: lighter;
    font-size: 30px;
  }

   .arrange-h3{
    font-size: 40px;
    margin-top: 100px;
  }

  .guided-p {
    text-align: left;
    text-indent: unset;
    padding-top: 50px;
    font-size: 18px;
  }

  .guided-p2{
    text-align: left;
    margin-top: -110px;
    text-indent: unset;
    font-size: 18px;
  }

  .guided-container {
    margin: 5px 145px 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .guidemap-img{
    height: 350px;
    width: 70%;
    margin-bottom: unset;
    margin-top: unset;
  }

  .guidemap-img1 {
    text-align: center;
  }

  .arrange-card {
    width: 375px;
  }

  .arrange-container{
    gap: 100px;
  }

  .guided-section{
    margin-top: -100px;
  }

  .arrang-input{
    width: 60%;
  }

  .arrange-reservation, .contact-form {
    text-align: center;
  }

  .about-h1 {
    text-align: unset;
    font-size: 40px;
    padding-left: 1rem;
  }
  .about-h2 {
    font-size: 30px;
  }

  .about-h3, .visith3 {
    font-size: 25px;
  }

  .reservation-h2, .book-h2 {
    font-size: 29px;
  }

  .reservation-h3 {
    font-size: 20px;
  }

  .reservation-h4, .contact-p {
    font-size: 18px;
  }


  .about-p {
    font-size: 18px;
    width: 75%;
  }

  .about-p-science {
    font-size: 18px;
    text-align: center;
    min-width: 100px;
  }

  .opening-info {
    font-size: 20px;
    margin: 0 100px 0;
  }

  .about-img {
    height: 500px;
  }
  
  .about-img-conttainer {
    height: 500px;
    margin-top: -20px;
  }

  .science-container {
    height: 520px;
    text-align: center;
    margin-top: -30px;
    margin-right: 60px;
  }

  .sicence-img{
    width: unset;
    max-width: 100%;
    height: 300px;
    margin-top: 10px;
  }

  .sicence-img2{
    width: unset;
    max-width: 100%;
    height: 330px;
    margin-top: 5px;
  }

  .about-section {
    display: grid;
    grid-template-columns: 3fr 3fr;
  }

  .arrange-img {
    height: 250px;
  }
  
  .arrange-img2 {
    width: 65%;
    height: 250px;
  }

  .guidedinfo {
    margin: unset;
  }

  .contact-h4{
    font-size: 25px;
  }
 
  /* media queries for the footer*/

  .footerh2 {
    text-align: unset;
    font-size: 30px;
    position: relative;
    top: 25px; left: 14%;
    max-width: 100px;
    white-space: nowrap;
  }

  .footerh3 {
    font-size: 21px;
    text-align: right;
    position: relative;
    right: 17%;
  }

  .subz-field {
    width: 60%;
  }

  .subscribe {
    width: 40%;
    position: relative;
    left: 55%;
    margin: 0 0 0 0.1rem;
  }

  .social-links {
    position: relative;
    bottom: 40px; left: 12%;
  }

  .footer-container {
    justify-content: space-evenly;
    position: relative;
    top: 60px;
    height: 0;
  }

  .footer-links{
    font-size: 25px;
  }

  .link-logo {
    position: relative;
    top: 50px; right: 40px;
    padding-top: unset;
  }

  .copiright-footer {
    margin-top: 20px;
  }

  .border-bottom{
    margin: 10px 200px 20px;
  }

  .border-bottom2{
    display: none;
  }

  .footer-links1 {
    position: relative;
    right: 60px;
  }

  .footer-links2 {
   position: relative;
   left: 60px;
  }

  .subz-field {
    height: 35px;
  }
 
  .subz-button{
    height: 37px;
    font-size: 20px;
  }

  .footer-info1{
    position: relative;
    bottom: 35px;
    left: 23px;
  }

  .footer-info2{
    position: relative;
    right: 23px;
    bottom: 40px;
  }

  .h1-info1, .h1-info2{
    font-size: 22px;
  }

  .p-info2, .p-info1, .p-info3{
    font-size: 18px;
  }

  .name {
    float: left;
    width: 18%;
    margin-top: 6px;
  }
   }